/* Desktop */
.footer {
  position: absolute;
  left: -0.21%;
  right: -0.14%;
  top: 26.85%;
  bottom: 1%;
}

.rectangle {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 26.85%;
  bottom: 24.7%;
  background: #120F23;
}

.call-to-action {
  position: absolute;
  left: 13.26%;
  right: 50%;
  top: 34.7%;
  bottom: 30.13%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 131px;
  font-size: 7vw;
  color: #B6FDBF;
}

.call-to-action-final {
  position: absolute;
  left: 9%;
  top: 15%;
  bottom: 30.13%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 90px;
  font-size: 5vw;
  color: #B6FDBF;
}

.error-position {
  position: absolute;
  left: 10%;
  right: 65%;
  top: 1%;
}

.full-name-error-position {
  position: absolute;
  left: 10%;
  right: 65%;
  top: 1%;
}

.form-position {
  position: absolute;
  left: 37.01%;
  right: 13.26%;
  top: 25%;
  bottom: 63.68%;
}

.form-header {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  font-size: 1.75vw;
  color: #94AEBF;
}

.group-13 {
  position: absolute;
  left: 50.15%;
  right: 62.01%;
  top: 46.31%;
  bottom: 52.08%;
}

.email-input {
  position: absolute;
  left: 0%;
  right: 37%;
  top: 150%;
  bottom: 33%;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.1;
  border-radius: 5px;
}

.email-text {
  position: absolute;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 1.50vw;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.next-button {
  position: absolute;
  left: 66%;
  right: 17.78%;
  top: 170%;
  bottom: 32.63%;
}

.full-name-input {
  position: absolute;
  left: 0%;
  right: 20%;
  top: 150%;
  mix-blend-mode: normal;
  opacity: 0.6;
  border-radius: 5px;
}

.full-name-button {
  position: absolute;
  left: 82%;
  top: 185%;
  bottom: 45%;
}

.congratulations-body-text {
    font-family: Open Sans;
    font-style: normal;
    line-height: 30px;
    font-size: 1.75vw;
    color: #94AEBF;
}

.disclaimer-checkbox {
  position: absolute;
  top: 80%;
  left: 37%;
  right: 30%;
}

.disclaimer-text {
font-family: Open Sans !important;
font-style: normal !important;
font-weight: 300 !important;
line-height: 14px !important;
font-size: 1vw !important;
color: #888888 !important;
}


/* Mobile */
@media only screen and (max-width: 415px) {
  .footer {
    position: absolute;
    left: -0.21%;
    right: -0.14%;
    top: 26.85%;
    bottom: 1%;
  }

  .rectangle {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 26.85%;
    bottom: 24.7%;
    background: #120F23;
  }

  .call-to-action {
    position: absolute;
    left: 5%;
    right: 50%;
    top: 22%;
    bottom: 30.13%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 50px;
    font-size: 8vw;
    color: #B6FDBF;
  }

  .call-to-action-final {
    position: absolute;
    left: 30%;
    top: 15%;
    bottom: 30.13%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 5vw;
    color: #B6FDBF;
  }

  .error-position {
    position: absolute;
    left: 37%;
    right: 18%;
    top: 60%;
  }

  .full-name-error-position {
    position: absolute;
    left: 37%;
    right: 5%;
    top: 28%;
  }

  .form-position {
    position: absolute;
    left: 37.01%;
    right: 0%;
    top: 5%;
    bottom: 63.68%;
    box-sizing: border-box;
  }

  .form-header {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    font-size: 5vw;
    color: #94AEBF;
  }

  .group-13 {
    position: absolute;
    left: 50.15%;
    right: 62.01%;
    top: 46.31%;
    bottom: 52.08%;
    box-sizing: border-box;
  }

  .email-input {
    position: absolute;
    left: 0%;
    right: 10%;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.1;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .email-text {
    position: absolute;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 3vw;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  .next-button {
    position: absolute;
    left: 0%;
    right: 10%;
    top: 265%;
    width: fluid;
  }

  .full-name-input {
    position: absolute;
    left: 0%;
    right: 20%;
    top: 175%;
    mix-blend-mode: normal;
    opacity: 0.6;
    border-radius: 5px;
  }

  .full-name-button {
    position: absolute;
    left: 43%;
    top: 320%;
  }

  .congratulations-body-text {
    font-family: Open Sans;
    font-style: normal;
    line-height: 15px;
    font-size: 3vw;
    color: #94AEBF;
  }

  .form-position-final {
    position: absolute;
    left: 30%;
    right: 13.26%;
    top: 45%;
    bottom: 63.68%;
  }

  .disclaimer-checkbox {
    position: absolute;
    top: 77%;
    left: 10%;
    right: 10%;
  }

  .disclaimer-text {
    font-family: Open Sans !important;
    font-style: normal !important;
    font-weight: 300 !important;
    line-height: 10px !important;
    font-size: 2.65vw !important;
    color: #888888 !important;
  }
}


/* Tablet Landscape */
@media only screen and (min-width: 1024px) {
  .rectangle {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 40%;
    bottom: 18%;
    background: #120F23;
  }

  .call-to-action {
    position: absolute;
    left: 13.26%;
    right: 50%;
    top: 40%;
    bottom: 30.13%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 130px;
    font-size: 7vw;
    color: #B6FDBF;
  }
}


/* Tablet Portrait */
@media only screen and (min-height: 1000px) {
  .rectangle {
    position: absolute;
    left: -10%;
    right: -20%;
    top: 35%;
    bottom: 40%;
    background: #120F23;
  }

  .call-to-action {
    position: absolute;
    left: 13.26%;
    right: 50%;
    top: 40%;
    bottom: 30.13%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 100px;
    font-size: 7vw;
    color: #B6FDBF;
  }
}


/* iPad Pro Portrait */
@media only screen and (min-height: 1300px) {
  .rectangle {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 40%;
    bottom: 40%;
    background: #120F23;
  }

  .call-to-action {
    position: absolute;
    left: 13.26%;
    right: 50%;
    top: 40%;
    bottom: 30.13%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 100px;
    font-size: 7vw;
    color: #B6FDBF;
  }
}
