.footer {
  position: absolute;
  left: -0.21%;
  right: -0.14%;
  top: 26.85%;
  bottom: 1%;
}

.rectangle {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 26.85%;
  bottom: 24.7%;
  background: #120F23;
}

.call-to-action {
  position: absolute;
  left: 13.26%;
  right: 67.71%;
  top: 34.7%;
  bottom: 30.13%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 125px;
  font-size: 80px;
  color: #B6FDBF;
}
