.footer {
  position: absolute;
  left: -0.21%;
  right: -0.14%;
  top: 26.85%;
  bottom: 1%;
}

.rectangle {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 26.85%;
  bottom: 24.7%;
  background: #120F23;
}

.call-to-action {
  position: absolute;
  left: 13.26%;
  right: 67.71%;
  top: 34.7%;
  bottom: 30.13%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 131px;
  font-size: 80px;
  color: #B6FDBF;
}

.error-position {
  position: absolute;
  left: 37.01%;
  right: 32%;
  top: 1%;
}

.form-position {
  position: absolute;
  left: 37.01%;
  right: 13.26%;
  top: 32.3%;
  bottom: 63.68%;
}

.form-header {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  font-size: 22px;
  color: #94AEBF;
}

.group-13 {
  position: absolute;
  left: 37.15%;
  right: 62.01%;
  top: 46.31%;
  bottom: 52.08%;
}

.email-input {
  position: absolute;
  left: 0%;
  right: 37%;
  top: 150%;
  bottom: 33%;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.1;
  border-radius: 5px;
}

.email-text {
  position: absolute;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 32px;
  font-size: 24px;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.next-button {
  position: absolute;
  left: 66%;
  right: 17.78%;
  top: 170%;
  bottom: 32.63%;
}

.full-name-input {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 150%;
  bottom: 33%;
  mix-blend-mode: normal;
  opacity: 0.6;
  border-radius: 5px;
}

.full-name-button {
  position: absolute;
  left: 100%;
  right: 10%;
  top: 50%;
  bottom: 50%;
}
